<div *ngIf="clinic; else loading" class="p-6">
  <div class="mt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Clinic Name -->
      <div class="bg-gray-50 border -200 rounded-lg shadow-sm p-6">
        <h4 class="text-sm font-semibold text-[#FE7A36]">Clinic Name</h4>
        <p class="mt-2 text-gray-600">{{ clinic.name }}</p>
      </div>
      
      <!-- Rate -->
      <div class="bg-gray-50 border -200 rounded-lg shadow-sm p-6">
        <h4 class="text-sm font-semibold text-[#FE7A36]">Rate</h4>
        <p class="mt-2 text-gray-600">{{ clinic.rate }}</p>
      </div>
      
      <!-- Bank Account -->
      <div class="bg-gray-50 border  rounded-lg shadow-sm p-6">
        <h4 class="text-sm font-semibold text-[#FE7A36]">Bank Account</h4>
        <p class="mt-2 text-gray-600">{{ clinic.bankAccount }}</p>
      </div>
      
      <!-- Update Profile Button -->
      <div class="flex items-center justify-center md:col-span-2 mt-5">
        <button class="px-6 py-3 bg-[#FE7A36] text-white rounded-md shadow-md hover:bg-[#fe7936b1]" (click)="openEditDialog()">Update Profile</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex items-center justify-center p-6">
    <p class="text-gray-600">Loading...</p>
  </div>
</ng-template>
