<div class="shadow-lg rounded-lg p-8 max-w-4xl mx-auto py-2 min-h-screen my-5">
    <div class="bg-gray-300 shadow-lg rounded-lg p-8">
        <div class="flex items-center space-x-4">
            <img class="w-24 h-24 rounded-full" [src]="User.photo" alt="{{ User.name }}" width="100">
            <div>
                <h2 class="text-2xl font-bold text-gray-800">{{ User.name }}</h2>
            </div>
        </div>
    </div>

    <!-- Navigation Links -->
    <div class="mt-8 border-b border-gray-200 pb-2">
        <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500" >
                <option value="clinic">Clinic</option>
                <option value="phones">Phones</option>
                <option value="doctors">Doctors</option>
                <option value="locations">Locations</option>
                <option value="vaccines">Vaccines</option>
            </select>
        </div>
        <div class="hidden sm:block">
            <nav class="flex space-x-4" aria-label="Tabs">
                <a (click)="selectTab('clinic')" [class.active]="selectedTab === 'clinic'"
                   class="nav-link text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">Clinic</a>
                <a (click)="selectTab('phones')" [class.active]="selectedTab === 'phones'"
                   class="nav-link text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">Phones</a>
                <a (click)="selectTab('doctors')" [class.active]="selectedTab === 'doctors'"
                   class="nav-link text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">Doctors</a>
                <a (click)="selectTab('locations')" [class.active]="selectedTab === 'locations'"
                   class="nav-link text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">Locations</a>
                <a (click)="selectTab('vaccines')" [class.active]="selectedTab === 'vaccines'"
                   class="nav-link text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">Vaccines</a>
                <a (click)="selectTab('Reservation')" [class.active]="selectedTab === 'Reservation'"
                   class="nav-link text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">Reservation</a>
                <a (click)="selectTab('Vaccine Reservation')" [class.active]="selectedTab === 'Vaccine Reservation'"
                   class="nav-link text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">Vaccine Reservation</a>
            </nav>
        </div>
    </div>

    <!-- Content Display Area -->
    <div class="mt-4">
        <ng-container *ngIf="clinicId !== undefined && clinicId !== null">
            <ng-container *ngIf="selectedTab === 'clinic'">
                <app-secrteryclinic [id]="clinicId"></app-secrteryclinic>
            </ng-container>
            <ng-container *ngIf="selectedTab === 'phones'">
                <!-- Component for phones goes here -->
                 <app-secrtery-phones [id]="clinicId"> </app-secrtery-phones>
            </ng-container>
            <ng-container *ngIf="selectedTab === 'doctors'">
                <app-secrtery-doctor [id]="clinicId"></app-secrtery-doctor>
            </ng-container>
            <ng-container *ngIf="selectedTab === 'locations'">
                <!-- Component for locations goes here -->
                 <app-secrtery-location [id]="clinicId"></app-secrtery-location>
            </ng-container>
            <ng-container *ngIf="selectedTab === 'vaccines'">
                <!-- Component for vaccines goes here -->
                 <app-secretary-vaccine [ClinicId]="clinicId"></app-secretary-vaccine>
            </ng-container>
            <ng-container *ngIf="selectedTab === 'Reservation'">
                <!-- Component for vaccines goes here -->
                 <app-secrtery-reservation [id]="clinicId"></app-secrtery-reservation>
            </ng-container>
            <ng-container *ngIf="selectedTab === 'Vaccine Reservation'">
                <!-- Component for vaccines goes here -->
                 <app-secrtery-reservation-vaccine [id]="clinicId"></app-secrtery-reservation-vaccine>
            </ng-container>
        </ng-container>
    </div>
</div>
