<div *ngIf="reservations.length > 0; else loading" class="p-6 bg-white shadow-md rounded-lg">
  <div class="mt-8 overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Client Name</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Client Phone</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let Res of reservations" class="hover:bg-gray-100">
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm font-semibold text-gray-900">{{ Res.name }}</div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">{{ Res.phone }}</div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">{{ Res.date }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loading>
  <div class="flex items-center justify-center p-6">
    <p class="text-gray-600">There Is No Reservations</p>
  </div>
</ng-template>
