<div>
    <section  id="HeroPhoto" class="HeroPhoto relative h-screen">
        <div class="absolute top-[40%] left-24 space-y-6">
            <p class="font-Laila text-3xl font-bold text-white">Where Pets Tie the Knot in Style..</p>
            <p class="text-xl text-white">Grow Your Pet Family with us</p>
            <button class="bg-[#FE7A36] p-3 hover:bg-[#e66322] rounded-xl shadow-xl text-lg w-[150px] text-white" routerLink="/BreedSearch">Go to Breeds</button>
        </div>
    </section>


    <section class="flex my-28 mx-20 items-center justify-between">
        <div class="relative w-[50%]">
            <div class="bg-cover bg-center bg-no-repeat h-[550px] w-[400px] shadow-2xl"  style="background-image: url(../../../../assets/Images/Section22.png);"></div>
            <div class="bg-cover bg-center bg-no-repeat h-[390px] w-[350px] shadow-2xl absolute top-[235px] left-[223px]" style="background-image: url(../../../../assets/Images/Section21.png);"></div>
        </div>

        <div class="w-[40%]">
            <div class="m-auto space-y-9">
                <p class="font-Laila text-[#FE7A36] text-[17px] font-bold">WE LOVE OUR JOB!</p>
                <p class="font-Laila text-5xl font-semibold text-gray-800">We'll Make Your Pets Truly Happy</p>
                <p class="text-[17px] text-gray-500">Hundreds of pet owners trust us to take care of their beloved furry family members. Give us a try and you won’t be disappointed.</p>
                <button class="bg-[#FE7A36] hover:bg-[#e66322] p-3 rounded-md shadow-xl text-lg w-[170px] text-white" routerLink="/BreedSearch">Go to Breeds</button>
            </div>
        </div>
    </section>


    
    <section class="bg-[#f7f7f7] my-28 pb-28 pt-9 mt-44">
        <div class="m-auto text-center py-14 space-y-8">
            <p class="font-Laila text-[#FE7A36] text-[15px] font-semibold">BEST PET CARE</p>
            <p class="font-Laila font-semibold text-[50px] text-[#051829]">We Provide Best Services</p>
            <div class="w-[610px] m-auto">
                <p class="font-Laila2 text-[#696969] text-[19px]" >We understand the importance of proper care for pets. That's why we've created a place where you can find the best services for your furry companions.</p>
            </div>
        </div>

        <div class="flex mx-48 space-x-11">

            <div class="bg-white text-center w-[29%] p-10 shadow-2xl hover:shadow-xl">
                <img class="w-28 m-auto" src="../../../../assets/Images/Icon2.jfif" alt="">
                <p class="text-[21px] font-Laila font-semibold py-3">Health Care</p>
                <p class="text-[17px] font-Laila2 text-gray-600 font-light">Taking care of your pet with our Clinics</p>
                <button class="mt-2" routerLink="/clinics">
                    <svg class="h-8 w-8 text-orange-500 hover:text-orange-700"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />  <polyline points="12 16 16 12 12 8" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
                </button>
            </div>


            <div class="bg-white text-center w-[30%] p-10 shadow-2xl hover:shadow-xl">
                <img class="w-28 m-auto" src="../../../../assets/Images/Icon1.jfif" alt="">
                <p class="text-[20px] font-Laila font-semibold py-3">Choose a companion</p>
                <p class="text-[17px] font-Laila2 text-gray-600 font-light">Grow Your Pet Family with our Breeding Service</p>
                <button class="mt-2" routerLink="/BreedSearch">
                    <svg class="h-8 w-8 text-orange-500 hover:text-orange-700"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />  <polyline points="12 16 16 12 12 8" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
                </button>
            </div>



            <div class="bg-white text-center w-[30%] p-10 shadow-2xl hover:shadow-xl">
                <img class="w-28 m-auto" src="../../../../assets/Images/Icon3.jfif" alt="">
                <p class="text-[21px] font-Laila font-semibold py-3">Vaccinations</p>
                <p class="text-[18px] font-Laila2 text-gray-600 font-light">Keep your pet vaccinated</p>
                <button class="mt-7" routerLink="/Vaccine">
                    <svg class="h-8 w-8 text-orange-500 hover:text-orange-700"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />  <polyline points="12 16 16 12 12 8" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
                </button>
            </div>

        </div>

    </section>
    <div>
        <div class="m-auto text-center mb-28 space-y-8">
            <p class="font-Laila text-[#FE7A36] text-[15px] font-semibold">ULTIMATE PET CARE</p>
            <p class="font-Laila font-semibold text-[50px] text-[#051829]">Top-Notch Services for Your Pets</p>
            <div class="w-[610px] m-auto">
                <p class="font-Laila2 text-[#696969] text-[19px]">Our love for pets drives us to provide exceptional care, because they're not just animals, they're family.</p>
            </div>
        </div>
    </div>

</div>